<!DOCTYPE html>
<html>
<head>
	<title>CIMDC CONFERANCE</title>
	<meta charset="UTF-8">	
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrp 4 & CSS Including -->
	
	<link rel="stylesheet" type="text/css" href="css/style.css">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/owl.carousel.css">
	<link rel="stylesheet" href="css/owl.theme.default.css">

	<!-- Bootstrap-JS & JS Including -->
	<script src="jquery.countdown/jquery.countdown.js"></script>
	<!-- <script src="js/"></script> --> 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="parallax.js-1.5.0/parallax.min.js"></script>


	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>

<body>
	

		<!-- theme page -->

		<div class="bg-image" data-z-index="0" data-parallax="scroll" data-image-src="image/19323_medical-wallpaper.jpg">
			<nav class="navbar navbar-expand-md navbar-dark fixed-top">
				<div class="container-fluid">
					<a href="#" class="navbar-brand">
						<img src="image/IC_LOGO.jpg" alt="" class="img-fluid" style="max-width: 50px; height: 50px; margin-top: -10px">
					</a>
			
					<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarResponsive">
						<span class="navbar-toggler-icon"></span>
					</button>
			
					<div class="collapse navbar-collapse topBotomBordersOut" id="navbarResponsive">
						<ul class="navbar-nav ml-auto">
							<li class="nav-item"><a href="" class="nav-link">Home</a></li>
							<li class="nav-item dropdown">
						      <a class="nav-link" href="#" data-toggle="dropdown">
						        About Conference <i class="fa fa-level-down"></i>	
						      </a>

						      <div class="dropdown-menu">
						        <a class="dropdown-item" href="#">Messages</a>
					      <a class="dropdown-item" href="#">Speakers</a>
					      <a class="dropdown-item" href="#">News Feed</a>					      
					      <a class="dropdown-item" href="#">Program Schedule</a>
						      </div> 
						    </li>


							<li class="nav-item dropdown">
						      <a class="nav-link" href="#" data-toggle="dropdown">
						        Registration<i class="fa fa-level-down"></i>	
						      </a>

						      <div class="dropdown-menu">
						        <a class="dropdown-item" href="#">Information</a>
					      		<a class="dropdown-item" href="#">Payment</a>
						      </div> 
						    </li>

						    <li class="nav-item dropdown">
						      <a class="nav-link" href="#" data-toggle="dropdown">
						        Paper<i class="fa fa-level-down"></i>	
						      </a>

						      <div class="dropdown-menu">
						        <a class="dropdown-item" href="#">Submission</a>
					      		<a class="dropdown-item" href="#">Publications</a>
						      </div> 
						    </li>

						    <li class="nav-item dropdown">
						      <a class="nav-link" href="#" data-toggle="dropdown">
						        Quick Link<i class="fa fa-level-down"></i>	
						      </a>

						      <div class="dropdown-menu">
						        <a class="dropdown-item" href="#">CIMCH</a>
					      		<a class="dropdown-item" href="#">CIDCH</a>
						      </div> 
						    </li>

						</ul>
					</div>
			    </div>
			</nav>
			

		<h2 style="color: #34f315;">Providing Health Care In a Challanging Situation</h2>

		<div class="brand">
			
			<h1>1st Inter National Conference</h1>
			
			<div class="table-responsive countdown">
				<table class="table table-dark">
				<tbody>

					<tr class="info">
						<td id="days">12</td>
						<td id="hours">4</td>
						<td id="minutes">12</td>
						<td id="seconds">22</td>
					</tr>
					<tr >
						<td>days</td>
						<td>hours</td>
						<td>minutes</td>
						<td>seconds</td>
					</tr>
				</tbody>
			</table>
			</div>
			<a href="" class="btn btn-outline-primary btn-lg">Registration</a>
		</div>


		</div>




		<!-- welcome section -->


		<div class="container-fluid padding">
		<div class="row welcome text-center">
			<div class="col-12">
				<h1 class="display-4">About Conference</h1>
			</div>
			<hr>
			<div class="col-12">
				<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi atque numquam accusamus nulla molestiae totam eveniet doloribus molestias esse veritatis, aspernatur, consectetur veniam corrupti exercitationem nam laboriosam nihil explicabo alias.</p>
			</div>
		</div>
	</div>




	<div class="container-fluid padding">
		<div class="row welcome text-center">
			<div class="col-12">
				<h1 class="display-4 msg">Messages</h1>
			</div>
			<hr>
			<div class="col-12">
				<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi atque numquam accusamus nulla molestiae totam eveniet doloribus molestias esse veritatis, aspernatur, consectetur veniam corrupti exercitationem nam laboriosam nihil explicabo alias.</p>
			</div>
		</div>
	</div>


	<!-- Sub theme -->

<div class="container-fluid padding">
		<div class="row welcome text-center">
			<div class="col-12">
				<h1 class="display-4">Topics</h1>
			</div>
			<hr>

		</div>
	</div>
	<!-- timeline -->
<section class="parallax" data-z-index="0" data-parallax="scroll" data-image-src="image/pic.jpg">
	<div class="timeline">
  <div class="con left">
    <div class="content">
      <h2>2017</h2>
      <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
      <a href="" class="float-right">See More <i class="fa fa-space-shuttle"></i></a>
    </div>
  </div>
  <div class="con right">
    <div class="content">
      <h2>2016</h2>
      <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
    </div>
  </div>
  <div class="con left">
    <div class="content">
      <h2>2015</h2>
      <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
    </div>
  </div>
  <div class="con right">
    <div class="content">
      <h2>2012</h2>
      <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
    </div>
  </div>
</div>
</section>

	<!-- Fixed Image Background -->

	<figure>
		<div class="container-fluid">
			<div class="parallax" data-z-index="1" data-parallax="scroll" data-image-src="image/19337_medical-wallpaper.jpg"></div>
		</div>
	</figure>
	
	<!-- Speakers -->

	<div class="container-fluid padding">
		<div class="row welcome text-center">
			<div class="col-12">
				<h1 class="display-4">Speakers</h1>
			</div>
			<hr>

		</div>
	</div>


		<!-- Card -->
<section class="carousel slide padding" data-ride="carousel" id="postsCarousel" style="background: #01004e;">
    <div class="container pt-4" >
	<div class="owl-carousel owl-theme">
    <div class="item">
    	<div class="card active">
                    <img src="image/pic.jpg" alt="" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">John Doe 1  </h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem aliquid maxime, eos illo commodi praesentium fugit aut at, tempora accusantium non suscipit debitis perferendis quo libero magni quas aperiam dolor.
                        </p>
                    </div>
                </div></div>
    <div class="item">
    	<div class="card">
                    <img src="image/pic.jpg" alt="" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">John Doe</h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem aliquid maxime, eos illo commodi praesentium fugit aut at, tempora accusantium non suscipit debitis perferendis quo libero magni quas aperiam dolor.
                        </p>
                    </div>
                </div>
    </div>
    <div class="item">
    	<div class="card">
                    <img src="image/pic.jpg" alt="" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">John Doe</h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem aliquid maxime, eos illo commodi praesentium fugit aut at, tempora accusantium non suscipit debitis perferendis quo libero magni quas aperiam dolor.
                        </p>
                    </div>
                </div>
    </div>
    <div class="item">
    	<div class="card">
                    <img src="image/pic.jpg" alt="" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">John Doe</h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem aliquid maxime, eos illo commodi praesentium fugit aut at, tempora accusantium non suscipit debitis perferendis quo libero magni quas aperiam dolor.
                        </p>
                    </div>
                </div>
    </div>
    <div class="item">
    	<div class="card">
                    <img src="image/pic.jpg" alt="" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">John Doe</h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem aliquid maxime, eos illo commodi praesentium fugit aut at, tempora accusantium non suscipit debitis perferendis quo libero magni quas aperiam dolor.
                        </p>
                    </div>
                </div>
    </div>
    <div class="item">
    	<div class="card">
                    <img src="image/pic.jpg" alt="" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">John Doe</h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem aliquid maxime, eos illo commodi praesentium fugit aut at, tempora accusantium non suscipit debitis perferendis quo libero magni quas aperiam dolor.
                        </p>
                    </div>
                </div>
    </div>
    <div class="item">
    	<div class="card">
                    <img src="image/pic.jpg" alt="" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">John Doe</h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem aliquid maxime, eos illo commodi praesentium fugit aut at, tempora accusantium non suscipit debitis perferendis quo libero magni quas aperiam dolor.
                        </p>
                    </div>
                </div>
    </div>
    <div class="item">
    	<div class="card">
                    <img src="image/pic.jpg" alt="" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">John Doe</h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem aliquid maxime, eos illo commodi praesentium fugit aut at, tempora accusantium non suscipit debitis perferendis quo libero magni quas aperiam dolor.
                        </p>
                    </div>
                </div>
    </div>
    <div class="item">
    	<div class="card">
                    <img src="image/pic.jpg" alt="" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">John Doe</h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem aliquid maxime, eos illo commodi praesentium fugit aut at, tempora accusantium non suscipit debitis perferendis quo libero magni quas aperiam dolor.
                        </p>
                    </div>
                </div>
    </div>
	</div>
			
</div>
</section>
<!-- Fixed Image Background -->

	<figure>
		<div class="container-fluid">
			<div class="parallax" data-z-index="1" data-parallax="scroll" data-image-src="image/19348_medical-wallpaper.jpg"></div>
		</div>
	</figure>




	<!-- News feed & Program Schedule -->
	<div class="container-fluid padding mt-5">
		<div class="row text-center padding">
			<div class="col-md-7 p-4">
				<div class="news" >
					<h3 class="p-3" style="font-size: 2rem">News Feed</h3>
					<div class="news-body p-3">
						<ul class="list-group text-left mb-1">
							<li class="list-group-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
							<li class="list-group-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
							<li class="list-group-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
							<li class="list-group-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
							<li class="list-group-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
							<li class="list-group-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
							<li class="list-group-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
							<li class="list-group-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
						</ul>
						<a href="" class="btn btn-primary align-middle">See More>></a>
					</div>
					
				</div>
				
				
			</div>
			<div class="col-md-5 p-4">
				<div class="news" >
					<h3 class="p-3" style="font-size: 2rem">Program Schedule</h3>
					<div class="news-body p-3">
						<ul class="list-group text-left">
							<li class="list-group-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
							<li class="list-group-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
							<li class="list-group-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
							<li class="list-group-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
						</ul>
						<a href="" class="btn btn-primary align-middle">See More>></a>
					</div>
					
				</div>
				
				
			</div>
		</div>
	</div>

	<!-- gallery -->


	<div class="container-fluid padding">
		<div class="row welcome text-center">
			<div class="col-12">
				<h1 class="display-4">Gallery</h1>
			</div>
			<hr>
			<div class="col-md-6">
				<h2>Photo</h2>
				<hr class="light">
				<div class="row">
					<div class="col-md-4">
						<img src="image/pic.jpg" alt="" class="card-img-top">
					</div>
					<div class="col-md-4">
						<img src="image/pic.jpg" alt="" class="card-img-top">
					</div>
					<div class="col-md-4">
						<img src="image/pic.jpg" alt="" class="card-img-top">
					</div>
					<div class="col-md-4">
						<img src="image/pic.jpg" alt="" class="card-img-top">
					</div>
					<div class="col-md-4">
						<img src="image/pic.jpg" alt="" class="card-img-top">
					</div>
					<div class="col-md-4">
						<img src="image/pic.jpg" alt="" class="card-img-top">
					</div>

				</div>
				<a href="" type="button" class=" btn btn-primary float-right" style="margin-right: 2px;">See More</a>
			</div>

			<div class="col-md-6">
				<h2>Videos</h2>
				<a href="" type="button" class=" btn btn-primary float-right" style="margin-right: 2px;">See More</a>
			</div>

		</div>
	</div>


	<!-- sponsors -->

	<div class="container-fluid padding">
		<div class="row text-center padding">
			<a href=""><img src="" alt=""></a>
			<a href=""><img src="" alt=""></a>
			<a href=""><img src="" alt=""></a>
			<a href=""><img src="" alt=""></a>
			<a href=""><img src="" alt=""></a>
		</div>
	</div>


	<footer>
		<div class="contained-fluid padding">
			<div class="row text-center padding">
				<div class="col-md-4">
					<hr class="light">
					<h4>Committee</h4>
					<hr class="light">
					<ul class="list-group" style="width: 80%; margin: 0 auto;">
						<li class="list-group-item"><a href="">Organizing</a></li>
						<li class="list-group-item"><a href="">Organizing</a></li>
						<li class="list-group-item"><a href="">Organizing</a></li>
						<li class="list-group-item"><a href="">Organizing</a></li>
						<li class="list-group-item"><a href="">Organizing</a></li>
					</ul>
				</div>
				<div class="col-md-4">
					<hr class="light">
					<h4>Quick Links</h4>
					<hr class="light">
					<ul class="list-group">
						<li class="list-group-item"><a href="">CIMCH</a></li>
						<li class="list-group-item"><a href="">CIDCH</a></li>
					</ul>
				</div>
				<div class="col-md-4">
					<hr class="light">
					<h4>Contact</h4>
					<hr class="light">
					
				</div>
			</div>
		</div>
	</footer>





<script src="owl.carousel.js"></script>
<script src="owl.carousel.min.js"></script>
<script>

</script>

<script type="text/javascript">

(function($){
	   "use strict";
	   $('.next').click(function(){ $('.carousel').carousel('next');return false; });
	   $('.prev').click(function(){ $('.carousel').carousel('prev');return false; });
   })	
   (jQuery);

		//Scrolling effect
		$(window).on("scroll", function(){
			if ($(window).scrollTop()) {
				$('nav').addClass('black');
			}else{
				$('nav').removeClass('black');
			}
		});


		/*COunt down*/

			function countdown(){



			var now = new Date();
			var eventDate = new Date("Jan 5, 2019 15:37:25");

			var currentTime = now.getTime();
			var eventTime = eventDate.getTime();

			var remTime = eventTime - currentTime;

			var s = Math.floor(remTime / 1000);
			var m = Math.floor(s / 60);
			var h = Math.floor(m / 60);
			var d = Math.floor(h / 24);

			h %= 24;
			m %= 60;
			s %= 60;

			h = (h < 10) ? "0" + h : h;
			m = (m < 10) ? "0" + m : m;
			s = (s < 10) ? "0" + s : s;

			document.getElementById("days").innerHTML = d;
			document.getElementById("hours").innerHTML = h;
			document.getElementById("minutes").innerHTML = m;
			document.getElementById("seconds").innerHTML = s;

			//document.getElementsById("days").textContent = d;
			//document.getElementsById("days").innerHTML = d;

			//document.getElementsById("hours").textContent = h;
			//document.getElementsById("hours").innerText = h;
			//document.getElementsById("minutes").textContent = m;
			//document.getElementsById("seconds").textContent = s;

			setTimeout(countdown, 1000);
			if (remTime < 0) {
        clearInterval(x);
        document.getElementById("demo").innerHTML = "EXPIRED";
    }
		}

		countdown();


		$('.owl-carousel').owlCarousel({
    		loop:true,
		    margin:10,
		    nav:true,
		    responsive:{
		        300:{
		            items:1
		        },
		        600:{
		            items:2
		        },
		        1000:{
		            items:3
		        }
		    }
});


	</script>

</body>
</html>